
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World (from the view)

        <p>We're going to have an exciting New Year's Eve party!! <br />
        <!-- <img src="@Url.Content("~/Images/party.jpg")" alt="IMAGES" /> -->
        <img src="~/Images/party.jpg"/>
        </p>
        @Html.ActionLink("RSVP now", "RsvpForm")
    </div>
</body>
</html>
