@using Cars.Domain.Entities
@model IEnumerable<Car>

@{
    ViewBag.Title = "Cars";
}

@foreach (var car in Model)
{
    <table>
        <thead>
            <tr>
                <th>Mark</th>
                <th>Model</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(c => car.Mark.Name)</td>
                <td>@Html.DisplayFor(c => car.Model)</td>
                <td>@Html.DisplayFor(c => car.Price)</td>
            </tr>
        </tbody>
    </table>
}

