@*@using Cars.Domain.Entities
@model IEnumerable<Car>*@
@model Cars.WebUI.Models.ShowRoom

@{
    ViewBag.Title = "Cars";
}


<table class="table">
    <thead class="table-hover">
        <tr>
            <th>Mark</th>
            <th>Model</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@Html.DisplayFor(c => car.Mark.Name)</td>
                <td>@Html.DisplayFor(c => car.Model)</td>
                <td>@car.Price.ToString("c")</td>
                <td>
                    @if (car.IsAvailable == true)
                    {
                        using (Html.BeginForm("Order", "Car", FormMethod.Get))
                        {
                            @Html.Hidden("CarID", car.CarID)
                            <input type="submit" class="btn" value="Order" />
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


